{%extends 'main.html'%}
{%block content%}
<br>
<h1>New Group</h1>
<br>
<form action="" method="post">
    {%csrf_token%}
    <div class="mb-3">
        <input style="width: 600px; height: 50px;" type="text" class="form-control" name="name" placeholder="name">
    </div>
    <div class="mb-3">
        <textarea style="width: 600px; height: 200px;" class="form-control" name="description" placeholder="description..."></textarea>
    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

{%endblock%}