{% extends 'main.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h1>Update</h1>
    <br/>
    <div class="mb-3">
        <label class="form-label">First Name:</label>
        <input type="text" class="form-control" name="firstName" value="{{user.profile.first_name}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name:</label>
        <input type="text" class="form-control" name="lastName" value="{{user.profile.last_name}}">
    </div>
    <div class="mb-3">
        <label class="form-label">City:</label>
        <input type="text" class="form-control" name="city" value="{{user.profile.city}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Date of Birth:</label>
        <input type="date" class="form-control" name="dob" value="{{user.profile.dob|date:'Y-m-d'}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Image Url:</label>
        <input type="text" class="form-control" name="imageUrl" value="{{user.profile.imageUrl}}">
    </div>

    <label class="form-label">In a relationship?</label>
    {% if user.proifle.relationship %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="relationship" id="yes" value="True" checked>
        <label class="form-check-label" for="yes">
          Yes
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="relationship" id="no" value="False">
        <label class="form-check-label" for="no">
          No
        </label>
    </div>
    {% else %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="relationship" id="yes" value="True">
        <label class="form-check-label" for="yes">
          Yes
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="relationship" id="no" value="False" checked>
        <label class="form-check-label" for="no">
          No
        </label>
    </div>
    {% endif %}
    <input type="submit" value="Update" class="btn btn-primary">
    <a class="btn btn-danger" href="{% url 'remove_user' user.username %}">Delete Account</a>
</form>
{% endblock %}